.Signin {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgcolor);
}

.form {
}

.sign_up {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: none;
  padding: 20px;
  margin-bottom: 1em;
}

.form-title {
  font-size: 1.5em;
  align-self: center;
  margin: 1em;
  color: var(--blue);
}

.input-container {
  margin: 1em;
  display: flex;

}

.form-input {
  padding: 5px 10px;
  font-size: 1.1em;
}

label {
  margin: 10px;
}

.name {

}

.email {

}

.password {

}

.confirm-password {

}

.form-buttons {

}

.register-btn {
  cursor: pointer;
  padding: 10px 20px;
  background: none;
  border: 2px solid var(--blue);
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  color: var(--blue);
}

.register-btn:hover, .register-btn:focus {
  background: var(--blue);
  color: #fff;
}

.form-links {

}

.form-link {
  cursor: pointer;
}
