svg {
  transform-origin: 50% 50%;

}

/* Arrow */
.svga {
  fill: var(--green);
}

/* Arrow */
.svgb {
  fill: var(--blue);
}

/* Inner Circle */
.svgc {
  fill: var(--blue);
}

/* Cross */
.svgd {
  fill: var(--green);
}

/* Pulse animation */
.pulsate {
  transform-origin: center;
  animation-name: pulse;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  10% {transform: scale(1.05);}
  15% {transform: scale(1);}
  100% {transform: scale(1);}
}


/* Spin animation */
.rotate {
  animation-name: spinround;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-iteration-count: infinite;

}

@keyframes spinround {
  0% {transform: rotate(360deg);}
  6% {transform: rotate(0deg);}
  /* 7% {transform: rotate(360deg);} */

  100% {transform: rotate(-360deg);}
}
