.Register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgcolor);
}

.form {
}

.sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 20px;
  margin-bottom: 1em;
}

.register-title {
  font-size: 1.5em;
  align-self: center;
  margin: 1em;
  color: var(--blue);
}

.input-container {
  margin: 1em;

}

.form-input {
  display: flex;
  padding: 5px 10px;
  font-size: 1.1em;
  margin-top: 5px;
}

label {
  margin: 10px;
}

.name {

}

.email {

}

.password {

}

.confirm-password {

}

.tos-container {
  margin: 10px;
}

.tos-container label {

}

.tos-container label span {
  font-weight: 600;
  color: var(--blue);

}

.tos-container label span:hover, .tos-container label span:focus {
  text-decoration: underline;
  cursor: pointer;
}

.tos {

}

.form-buttons {

}

.register-btn {
  cursor: pointer;
  padding: 10px 20px;
  background: none;
  border: 2px solid var(--blue);
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  color: var(--blue);
}

.register-btn:hover, .register-btn:focus {
  background: var(--blue);
  color: #fff;
}

.form-links {

}

.form-link {
  cursor: pointer;
}

/* Media Queries */

@media (min-width: 500px) {
  .sign_up {
    align-items: flex-end;
  }

  .input-container {
    display: flex;
  }
  .form-input {
    display: block;
  }
}
