.grid-container {
  display: grid;
  grid-template-columns: minmax(200px, 25vw) 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "aside1 main main main"
    "aside2 main main main"
    "aside3 main main main"
    "footer footer footer footer";
}

.item {
  background-color: honeydew;
}

.header {
  grid-area: header;
  background-color: blue;
}

.Searchbar {
  grid-area: aside1;
  background-color: orange;

}

.sidePanel {
  grid-area: aside2;
}

.listofMeds {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.meds-list {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 5px 10px; */
  display: flex;
}

.med-card {

}
