.grid-container {
  display: grid;
  grid-template-columns: minmax(200px, 25vw) 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer";
}

.item {
}

.header {
  grid-area: header;
}

.Searchbar {
  grid-area: main;
}

.listofMeds {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.meds-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 5px 10px;

}
