:root, *, *::after, *::before {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0;
}

.App-header {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bgcolor);
}

.title {
  font-size: 1.5em;
  margin: 1em;
  font-weight: 800;
}

.title span {
  color: var(--green);
}

.fade-in {
  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0;
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
