:root, *, *::after, *::before {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.gecko {
  animation: gecko-shift infinite 5s ease-in-out;
  fill: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h2 {
  padding-bottom: 5px;
  box-shadow: 0px 3px 0px 0px rgb(12, 122, 76);
}

.App-link {
  color: #61dafb;
}

@keyframes gecko-shift {
  0%, 100% {
    fill: rgb(6, 129, 77);
  }
  50% {
    fill: rgb(8, 180, 159);
  }
}
